@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
	--primary-clr: #0369a1;
	--secondary-clr: #4b5563;
	--font-main: "Playfair Display", serif;
	--font-alt: "Roboto", sans-serif;
	--base-padding: 1rem;
	--base-margin: 1rem;
	--font-size-h1: 3rem;
	--font-size-h2: 2rem;
	--font-size-text: 1rem;
	--box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body {
	font-family: var(--font-main);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

.main-header {
	padding: var(--base-padding) 0;
	background-color: var(--primary-clr);
}

.profile-image {
	position: relative;
	box-shadow: var(--box-shadow);
	margin-bottom: var(--base-margin);
}

.profile-image img {
	display: block;
}

.profile-image h1 {
	position: absolute;
	display: block;
	color: white;
	font-size: var(--font-size-h1);
	bottom: 1rem;
	left: 1rem;
}

.profile-description {
	background-color: white;
	padding: var(--base-padding) 1.5rem;
	box-shadow: var(--box-shadow);
}

.profile-description h2 {
	text-align: center;
	font-size: var(--font-size-h2);
	margin-top: var(--base-margin);
	font-weight: 400;
}

.profile-description p {
	color: var(--secondary-clr);
	line-height: 1.7;
}

.social-media-links {
	color: black;
	text-align: center;
	margin-top: 0.5rem;
}

.social-media-links a {
	text-decoration: none;
}

.social-media-links a + a {
	margin-left: 0.5rem;
}

.social-media-links a i {
	color: black;
	font-size: 1.3rem;
}

/* Work Section */
main {
	margin-top: 3rem;
}

main .work-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 2rem;
}

main h2 {
	text-align: center;
	font-size: var(--font-size-h2);
	margin: var(--base-margin) 0;
	font-weight: 400;
}

main article {
	box-shadow: var(--box-shadow);
}

main article .work-details {
	padding: var(--base-padding);
	padding-top: 0.5rem;
}

.work-details header {
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;
}

.work-details p {
	color: var(--secondary-clr);
}

.work-details-icons {
	margin-left: auto;
	display: flex;
	gap: 0.5rem;
}

.work-details-icons i {
	font-size: 1.3rem;
	color: black;
}

.view-icon {
	width: 1.3rem;
}

/* Footer Section */
footer {
	margin-top: 3rem;
	background: var(--primary-clr);
	color: white;
	padding: 2rem 0;
}

footer .information {
	margin-bottom: 3rem;
}

footer h2 {
	text-align: center;
	font-size: var(--font-size-h2);
	font-weight: 400;
}

address {
	margin: 2rem 0;
	font-style: normal;
	white-space: normal;
}

.mb-md {
	margin-bottom: 1.2rem;
}

footer nav {
	text-align: center;
}

footer nav i {
	color: black;
	font-size: 1.5rem;
}

footer nav > a + a {
	margin-left: 0.8rem;
}

.footer__profile-image {
	margin: 0 auto;
}

/* Media Queries */
@media (min-width: 700px) {
	.main-header {
		padding-bottom: 2rem;
		padding-top: 10rem;
		padding-left: 5vw;
	}

	.profile-image {
		width: 350px;
		float: left;
		margin-top: -7rem;
		margin-left: -3rem;
		margin-right: var(--base-margin);
	}

	.profile-image h1 {
		top: 2rem;
		right: -15rem;
		text-align: right;
	}

	.social-media-links {
		text-align: right;
	}

	footer .container {
		display: flex;
		justify-content: center;
		align-items: stretch;
		gap: 3rem;
	}

	footer .information h2 {
		text-align: left;
		margin-bottom: 1rem;
	}

	footer nav {
		text-align: left;
	}

	.footer__profile-image {
		margin: 0;
		width: 25%;
	}

	.footer__profile-image img {
		display: block;
	}
}

@media (min-width: 900px) {
	.main-header {
		padding-top: 2rem;
		padding-left: 0;
	}

	.profile-container {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.profile-image {
		width: 400px;
		margin: 0;
	}

	.profile-image h1 {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		text-align: center;
		height: min-content;
		margin-top: auto;
	}

	.profile-description p {
		margin: 0 auto;
		text-align: left;
		max-width: 55ch;
	}
}
